<!doctype html>
<html lang="vi">

<head>
    <title>DucTrungGear - @Html.Raw(ViewBag.title)</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/header-footer.css">
    <link rel="stylesheet" href="~/Content/owl-carousel.css">
    <link rel="stylesheet" href="~/Content/hot-item.css">
    <link rel="stylesheet" href="~/Content/home.min.css">
    <link rel="stylesheet" href="~/Content/icon.css">
    <link rel="stylesheet" href="~/Content/product-category.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/detail.css">
    <link rel="stylesheet" href="~/Content/loginform.css">
    <link rel="stylesheet" href="~/Content/cart.css">
    <link rel="stylesheet" href="~/Content/payment.css">
</head>

<body>
    <header>
        @*@Html.Partial("_PartialHeader")*@
        @{Html.RenderPartial("Header"); }
        @{Html.RenderAction("TopMenu", "Home"); }
    </header>
    

    @RenderBody()

    @Html.Partial("_PartialFooter")
    
    <p id="back-top">
        <a href="#top" title="Về Đầu Trang"><span></span></a>
    </p>

    <script type="text/javascript">

            function GetAliasDetails(text) {
                if (text) {
                    $("#divLoader").show();
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("SearchByName", "Search")",
                        data: "{term:'" + text + "'}",
                        dataType: "json",
                        success: function (data) {
                            $(".divAutoComplete").html('');
                            $("#divLoader").hide();
                            var html = '';
                            if (data != "") {
                                html += "<table>";
                                $.each(data, function (i, item) {
                                    html += "<tbody class=\"hoversearch\"  onclick=\"chuyentrang(\'" + item.MetaTitle + "\',\'" + item.ID + "\')\"><tr>";
                                    html += "<td style=\"padding:5px\" rowspan=\"2\"><img width=\"50\" height=\"50\" src=\"" + item.Images + "\" /></td>";
                                    html += "<td style=\"padding:5px\"><span class=\"bold\">" + item.Name + "</span></td></tr>";
                                    if (item.Sale != null) {
                                        html += "<tr>" +
                                            "<td style=\"padding:5px\">" +
                                            "<strike style=\"color:red\" class=\"bold\">" + item.Price + " VNĐ</strike>" +
                                            "</td>" +
                                            "</tr>";

                                    } else if (item.Price == null || item.Quantity <= 1) {
                                        html += "<tr><td style=\"padding:5px\"><span style=\"color:#2A1051\" class=\"bold\">Liên hệ</span></td></tr>";
                                    } else {
                                        html += "<tr><td style=\"padding:5px\"><span style=\"color:#2A1051\" class=\"bold\">" + item.Price + " VNĐ</span></td></tr>";
                                    }
                                    html += "</tbody>";


                                });
                                html += "</table></div>";
                                $(".divAutoComplete").html(html).show();
                            } else {
                                var html = "<div style=\"border:3px solid #c6c6c6;background-color: #fff;\">";
                                html += "<b>Không có sản phẩm nào</b>";
                                html += "</div>";
                                $(".divAutoComplete").html(html).show();
                            }
                        },
                        error: function (result) {
                            $("#divLoader").hide();
                        }
                    });
                } else {
                    close();
                }
            }


            function close() {
                $(".divAutoComplete").html("");
                $(".divAutoComplete").slideUp();
                $("#divLoader").hide();
            }

            function chuyentrang(title, id) {
                window.location = '/chi-tiet/' + title + '-' + id;
            }
    </script>

    <script defer="defer" async="async" src="https://cdn.tgdd.vn/v2015/Scripts/desktop/V5/home.min.v202010291120.js"></script>
    <script defer="defer" async="async" src="https://cdn.tgdd.vn/v2015/Scripts/desktop/V6/category.min.v202011070550.js"></script>
    <script src="~/Assets/Client/js/jquery.jcarousel.min.js"></script>
    @*<script src="https://use.fontawesome.com/23d887ee25.js"></script>*@
    <script src="https://kit.fontawesome.com/764e866a97.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="~/Assets/Client/js/jquery.easing.js"></script>
    @RenderSection("Script", required: false)
</body>

</html>